html {
  height: 100%;
  font-family: Roboto, -apple-system, sans-serif;
}
body {
  padding-bottom: 32px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  /* margin: auto; */
  margin-bottom: 32px;
}

.disabled {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.show-btn {
  margin-left: 20px;
}

.switch-label {
  margin-left: 20px;
  cursor: pointer;
}

.result-strip {
  display: flex;
}

.result-strip-item {
  padding: 0 5px;
  white-space: nowrap;
}

.origin-text {
  min-width: 300px;
}

.user-name {
  min-width: 200px;
  max-width: 270px;
  overflow-x: hidden;
}
.no-user-name {
  background-color: red;
}
